<IonHeader>
    <IonToolbar>
        <IonTitle>Inline Modal</IonTitle>
    </IonToolbar>
</IonHeader>
<IonContent class="ion-padding">
    <IonButton Expand="block" @onclick="@(async () => await _usingIsOpenRef.SetIsOpenAsync(true))">Open</IonButton>
    <p>
        *** This demo is hosted in a <b>&lt;ion-app&gt;</b>, the modal will <b>not</b> be bound to this preview pane!
    </p>
    <IonModal @ref="_usingIsOpenRef" IonModalDidDismiss="@(async () => await _usingIsOpenRef.SetIsOpenAsync(false))">
        <IonHeader>
            <IonToolbar>
                <IonTitle>Modal</IonTitle>
                <IonButtons Slot="end">
                    <IonButton @onclick="@(async () => await _usingIsOpenRef.SetIsOpenAsync(false))">Close</IonButton>
                </IonButtons>
            </IonToolbar>
        </IonHeader>
        <IonContent class="ion-padding">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
                reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
                dicta.
            </p>
        </IonContent>
    </IonModal>
</IonContent>

@code {
    private IonModal _usingIsOpenRef = null!;
}