@inherits LayoutComponentBase

<h2>Basic Usage</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            @Body
        </div>
    </div>
</div>