@page "/samples/range"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Label Placement</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <div class="wrapper">
                        <LabelPlacement/>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>Label Slot</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <LabelSlot/>
                </div>
            </div>
        </div>
        
        <h2>No Visible Label</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <NoVisibleLabel/>
                </div>
            </div>
        </div>
        
        <h2>Decorations</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <Decorations/>
                </div>
            </div>
        </div>
        
        <h2>Dual Knobs</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <DualKnobs/>
                </div>
            </div>
        </div>
        
        <h2>Pins</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <Pins/>
                </div>
            </div>
        </div>
        
        <h2>Snapping & Ticks</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <SnappingAndTicks/>
                </div>
            </div>
        </div>

        <h2>Event Handling</h2>
        <h3>Using ionChange</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <div style="max-width: 320px;width: 100%;">
                        <UsingIonChange/>
                    </div>
                </div>
            </div>
        </div>
        
        <h3>Using ionKnobMoveStart and ionKnobMoveEnd</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <div style="max-width: 320px;width: 100%;">
                        <UsingIonKnobMoveStartAndIonKnobMoveEnd/>
                    </div>
                </div>
            </div>
        </div>

        <h2>Theming</h2>

        <h3>CSS Custom Properties</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <CssCustomProperties/>
                </div>
            </div>
        </div>
        
        <h3>CSS Shadow Parts</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <CssShadowParts/>
                </div>
            </div>
        </div>
        
    </IonContent>
</div>