@page "/samples/infinite-scroll"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <BasicUsage/>
                </div>
            </div>
        </div>
        
        <h2>Loading Text and Spinner</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <LoadingTextAndSpinner/>
                </div>
            </div>
        </div>
        
        <h2>Custom Content</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <CustomContent/>
                </div>
            </div>
        </div>
        

    </IonContent>
</div>