@page "/samples/action-sheet"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Inline Action Sheets (Recommended)</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <InlineActionSheets/>
                </div>
            </div>
        </div>
        
        <h2>Using <code>isOpen</code></h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <UsingIsOpen/>
                </div>
            </div>
        </div>

    </IonContent>
</div>