<div>
    <style>
        ion-segment.css-custom-properties {
            --background: #54dc98;
        }
    </style>

    <IonSegment Value="custom" class="css-custom-properties">
        <IonSegmentButton Value="custom">
            <IonLabel>Custom</IonLabel>
        </IonSegmentButton>
        <IonSegmentButton Value="segment">
            <IonLabel>Segment</IonLabel>
        </IonSegmentButton>
    </IonSegment>
</div>