<IonContent Class="ion-padding">
  <h1>Scroll the content and notice that the fixed button does not scroll.</h1>

  <IonButton>Normal Button</IonButton>
  <IonButton slot="fixed">Fixed Button</IonButton>

  <__content/>
  
</IonContent>

@code {
    
}