<IonContent @ref="_contentRef" class="ion-padding">
    <h1>Click on the buttons to scroll the content.</h1>

    <IonButton Expand="@IonButtonExpand.Block" @onclick="@ScrollDown">Scroll by X:0; Y:200</IonButton>

    <__content/>

    <IonButton Expand="@IonButtonExpand.Block" @onclick="@ScrollUp">Scroll by X:0; Y:-100</IonButton>
</IonContent>

@code
{
    IonContent _contentRef = null!;

    private async Task ScrollDown()
    {
        await _contentRef.ScrollByPointAsync(1, 200, 500);
    }

    private async Task ScrollUp()
    {
        await _contentRef.ScrollByPointAsync(0, -100, 500);
    }
}