<div>
    <b>Total number of columns is set to <code>6</code>, column <code>size</code> is set to <code>1</code></b>
        <IonGrid>
            <IonRow>
                <IonCol Size="1">1</IonCol>
                <IonCol Size="1">2</IonCol>
                <IonCol Size="1">3</IonCol>
                <IonCol Size="1">4</IonCol>
            </IonRow>
    </IonGrid>
</div>