@page "/samples/content"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    
                </div>
            </div>
        </div>
        
        <h2>Header & Footer</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    
                </div>
            </div>
        </div>
        
        <h2>Fullscreen Content</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    
                </div>
            </div>
        </div>
        
        <h2>Fixed Content</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    
                </div>
            </div>
        </div>
        
        <h2>Scroll Methods</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <ScrollMethods/>
                </div>
            </div>
        </div>
        
        <h2>Scroll By Point (relative)</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <ScrollByPoint/>
                </div>
            </div>
        </div>
        
        <h2>Scroll To Point (absolute)</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <ScrollToPoint/>
                </div>
            </div>
        </div>
        
        <h2>Scroll Events</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <ScrollEvents/>
                </div>
            </div>
        </div>
        
        
    </IonContent>
</div>