@using System.Text.Json
<IonContent class="ion-padding" 
            ScrollEvents="@true" 
            IonScrollStart="OnIonScrollStart" 
            IonScroll="OnIonScroll" 
            IonScrollEnd="OnIonScrollEnd" >
    <h1>Scroll to fire the scroll events and view them in the console.</h1>

    <__content/>
    
</IonContent>

@code {

    JsonSerializerOptions _serializerOptions = new(JsonSerializerDefaults.Web)
    {
        WriteIndented = false
    };
    
    private void OnIonScrollStart()
    {
        Console.WriteLine("scroll start");
    }

    private void OnIonScroll(IonContent.IonScrollEventArgs? args)
    {
        Console.WriteLine($"scroll {JsonSerializer.Serialize(args, _serializerOptions)}");
    }

    private void OnIonScrollEnd()
    {
        Console.WriteLine("scroll end");
    }
}