@page "/samples/input"

<div class="ion-page" id="main-content">
  <IonContent Class="container">
    <PreviewContainer Title="Basic Usage">
      <BasicUsage/>
    </PreviewContainer>
      
    <PreviewContainer Title="Types">
      <Types/>
    </PreviewContainer>
      
    <PreviewContainer Title="Labels" SubTitle="Label Placement">
      <LabelsPlacement/>
    </PreviewContainer>
      
    <PreviewContainer SubTitle="Label Slot (experimental)">
      <LabelSlot/>
    </PreviewContainer>
      
    <PreviewContainer SubTitle="No Visible Label">
      <NoVisibleLabel/>
    </PreviewContainer>
      
    <PreviewContainer Title="Clear Options">
      <ClearOptions/>
    </PreviewContainer>
      
    <PreviewContainer Title="Filled Inputs">
      <FilledInputs/>
    </PreviewContainer>
      
    <PreviewContainer Title="Helper & Error Text">
      <HelperAndErrorText/>
    </PreviewContainer>
      
    <PreviewContainer Title="Input Counter">
      <InputCounter/>
    </PreviewContainer>
      
    <PreviewContainer Title="Filtering User Input">
      <FilteringUserInput/>
    </PreviewContainer>

  </IonContent>
</div>
