@page "/samples/item-divider"

<PlaygroundContainer FillWidth="true" >
    <Header>
        <h2>Basic Usage</h2>
    </Header>
    <ChildContent>
        <IonicTest.Pages.Samples.ItemDivider.BasicUsage/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer FillWidth="true" >
    <Header>
        <h2>Theming</h2>
        <h3>Colors</h3>
    </Header>
    <ChildContent>
        <IonicTest.Pages.Samples.ItemDivider.Colors/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer FillWidth="true" >
    <Header>
        <h3>CSS Custom Properties</h3>
    </Header>
    <ChildContent>
        <IonicTest.Pages.Samples.ItemDivider.CssCustomProperties/>
    </ChildContent>
</PlaygroundContainer>