<IonList>
  <IonItem>
    <IonSelect TValue="@string" Placeholder="Select a Fruit">
      <div slot="label">Favorite Fruit <IonText Color="@IonColor.Danger">(Required)</IonText></div>
      <IonSelectOption Value="apple">Apple</IonSelectOption>
      <IonSelectOption Value="banana">Banana</IonSelectOption>
      <IonSelectOption Value="orange">Orange</IonSelectOption>
    </IonSelect>
  </IonItem>
</IonList>