<IonList>
    <IonItem>
        <IonInput LabelPlacement="@IonInputLabelPlacement.Floating" value="hi@ionic.io">
            <div slot="label">Email <IonText Color="@IonColor.Danger">(Required)</IonText></div>
        </IonInput>
    </IonItem>
</IonList>