@page "/samples/text"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonText Color="primary">
                      <h1>H1: The quick brown fox jumps over the lazy dog</h1>
                    </IonText>
                    
                    <IonText Color="secondary">
                      <h2>H2: The quick brown fox jumps over the lazy dog</h2>
                    </IonText>
                    
                    <IonText Color="tertiary">
                      <h3>H3: The quick brown fox jumps over the lazy dog</h3>
                    </IonText>
                    
                    <p>
                      <IonText Color="warning"><IonIcon Name="warning"></IonIcon></IonText>
                      I saw a werewolf with a Chinese menu in his hand.
                      Walking through the <IonText Color="success"><sub>streets</sub></IonText> of Soho in the rain.
                      He <IonText Color="medium"><i>was</i></IonText> looking for a place called Lee Ho Fook's.
                      Gonna get a <IonText Color="danger">big dish of beef chow mein.</IonText>
                    </p>
                </div>
            </div>
        </div>

    </IonContent>
</div>