<IonAccordionGroup Animated="@false">
    <IonAccordion Value="first">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>First Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">First Content</div>
    </IonAccordion>
    <IonAccordion value="second">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>Second Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">Second Content</div>
    </IonAccordion>
    <IonAccordion value="third">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>Third Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">Third Content</div>
    </IonAccordion>
</IonAccordionGroup>