<div>
    <IonAccordionGroup class="accordion-theming" Expand="@IonAccordionGroupExpand.Inset">
        <IonAccordion Value="first">
            <IonItem slot="header" Color="rose">
                <IonLabel>First Accordion</IonLabel>
            </IonItem>
            <div class="ion-padding" slot="content">First Content</div>
        </IonAccordion>
        <IonAccordion Value="second">
            <IonItem slot="header" Color="rose">
                <IonLabel>Second Accordion</IonLabel>
            </IonItem>
            <div class="ion-padding" slot="content">Second Content</div>
        </IonAccordion>
        <IonAccordion Value="third">
            <IonItem slot="header" Color="rose">
                <IonLabel>Third Accordion</IonLabel>
            </IonItem>
            <div class="ion-padding" slot="content">Third Content</div>
        </IonAccordion>
    </IonAccordionGroup>
    </div>