<div>
    <IonAccordionGroup>
      <IonAccordion Value="first">
        <IonItem slot="header">
          <IonLabel>First Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">
          First Content
        </div>
      </IonAccordion>
      <IonAccordion Value="second">
        <IonItem slot="header">
          <IonLabel>Second Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">
          Second Content
        </div>
      </IonAccordion>
      <IonAccordion Value="third">
        <IonItem slot="header">
          <IonLabel>Third Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">
          Third Content
        </div>
      </IonAccordion>
    </IonAccordionGroup>
</div>