@namespace IonicTest.Pages.Samples.InputOtp

@page "/samples/input-otp"

<PlaygroundContainer>
    <Header>
        <h2>Basic Usage</h2>
    </Header>
    <ChildContent>
        <IonicTest.Pages.Samples.InputOtp.BasicUsage/>
    </ChildContent>
</PlaygroundContainer>