@namespace IonicTest.Pages.Samples.InputOtp

<IonInputOtp> Didn't get a code? <a href="#" @onclick:preventDefault @onclick="@(() => { })">Resend the code</a> </IonInputOtp>
<IonInputOtp Length="6"> Didn't get a code? <a href="#" @onclick:preventDefault @onclick="@(() => { })">Resend the code</a> </IonInputOtp>