@inherits LayoutComponentBase

<IonApp>

    <IonSplitPane When="md" ContentId="main-content">

        <NavMenu/>

        <div class="ion-page" id="main-content">
            <IonHeader>
                <IonToolbar>
                    <IonButtons slot="start">
                        <IonMenuButton/>
                    </IonButtons>

                    <IonTitle>Content</IonTitle>
                </IonToolbar>
            </IonHeader>
            <IonContent class="ion-padding container">
                @Body
            </IonContent>
        </div>
    </IonSplitPane>
</IonApp>