@page "/sample/password-toggle"
@inherits Sample

<PlaygroundContainer>
    <Header>
        <h2>Basic Usage</h2>

    </Header>
    <ChildContent>
        <BasicUsage/>
    </ChildContent>
</PlaygroundContainer>