<IonItem>
    <IonInput Label="Default Input" Placeholder="Enter text"></IonInput>
</IonItem>

<IonItem>
    <IonInput Label="Fixed Input" LabelPlacement="fixed" Placeholder="Enter text"></IonInput>
</IonItem>

<IonItem>
    <IonInput Label="Stacked Input" LabelPlacement="stacked" Placeholder="Enter text"></IonInput>
</IonItem>

<IonItem>
    <IonInput Label="Floating Input" LabelPlacement="floating" Placeholder="Enter text"></IonInput>
</IonItem>

<IonItem fill="outline">
    <IonInput Label="Floating Input: Outline (MD only)" LabelPlacement="floating" Placeholder="Enter text"></IonInput>
</IonItem>

<IonItem fill="solid">
    <IonInput Label="Floating Input: Solid (MD only)" LabelPlacement="floating" Placeholder="Enter text"></IonInput>
</IonItem>

<IonItem>
    <IonSelect TValue="@string" Label="Select" Placeholder="Make a Selection">
        <IonSelectOption Value="@((string?)null)">No Game Console</IonSelectOption>
        <IonSelectOption Value="nes">NES</IonSelectOption>
        <IonSelectOption Value="n64">Nintendo64</IonSelectOption>
        <IonSelectOption Value="ps">PlayStation</IonSelectOption>
        <IonSelectOption Value="genesis">Sega Genesis</IonSelectOption>
        <IonSelectOption Value="saturn">Sega Saturn</IonSelectOption>
        <IonSelectOption Value="snes">SNES</IonSelectOption>
    </IonSelect>
</IonItem>

<IonItem>
    <IonToggle>
        <div>Toggle</div>
    </IonToggle>
</IonItem>

<IonItem>
    <IonCheckbox>
        <div>Checkbox</div>
    </IonCheckbox>
</IonItem>

<IonItem>
    <IonRange LabelPlacement="@IonRangeLabelPlacement.Start">
        <div slot="label">Range</div>
    </IonRange>
</IonItem>