
@if (string.IsNullOrWhiteSpace(Title) is false)
{
    <h2>@Title</h2>
}

@if (string.IsNullOrWhiteSpace(SubTitle) is false)
{
    <h3>@SubTitle</h3>
}

<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            @ChildContent
        </div>
    </div>
</div>