@page "/samples/list"

<h2>Basic Usage</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <BasicUsage/>
        </div>
    </div>
</div>

<h3>IonListOf&#60;T&gt;</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ListOf/>
        </div>
    </div>
</div>

<h3>Empty IonListOf&lt;T&gt;</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ListOfEmpty/>
        </div>
    </div>
</div>

<h2>Inset List</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <InsetList/>
        </div>
    </div>
</div>

<h2>List Lines</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ListLines/>
        </div>
    </div>
</div>