<div class="css-custom-properties">
  <IonBreadcrumbs>
    <IonBreadcrumb Href="#home">Home</IonBreadcrumb>
    <IonBreadcrumb Href="#electronics">Electronics</IonBreadcrumb>
    <IonBreadcrumb Href="#cameras">Cameras</IonBreadcrumb>
    <IonBreadcrumb Href="#film">Film</IonBreadcrumb>
  </IonBreadcrumbs>
</div>