<div class="playground__console">
    <div class="playground__console-header">
        <code>Console</code>
    </div>
    <div class="playground__console-body">
        <div class="playground__console-item playground__console-item--log">
            <code>
                {
                "data": {
                "action": "delete"
                },
                "role": "destructive"
                }
            </code>
        </div>
    </div>
</div>

@code {

}