
@if (Header is not null)
{
    @Header
}

<div class="playground__container">
    <div class="playground__preview">
        <div class="container @(FillWidth is true ? "fill-width" : "")">
            <CascadingValue TValue="@(PlaygroundConsole?)" Value="@Console" Name="Console">
                @ChildContent
            </CascadingValue>
        </div>
    </div>
</div>

@if (EnableConsole)
{
    <PlaygroundConsole @ref="Console" />
}