
@if (Header is not null)
{
    @Header
}

<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            @ChildContent
        </div>
    </div>
</div>