@page "/samples/menu"

<h2>Basic Usage</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <DevicePreview Mode="@IonMode.MaterialDesign">
                <BasicUsage/>
            </DevicePreview>
        </div>
    </div>
</div>

<h2>Menu Types</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <DevicePreview Mode="@IonMode.MaterialDesign">
                <MenuTypes/>
            </DevicePreview>
        </div>
    </div>
</div>


<h2>Multiple Menus</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <DevicePreview Mode="@IonMode.MaterialDesign">
                <MultipleMenus/>
            </DevicePreview>
        </div>
    </div>
</div>