@page "/samples/loading"

<h2>Basic Usage</h2>
<h3>Inline (Recommended)</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <BasicUsageInline/>
        </div>
    </div>
</div>

<h3>Controller</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <BasicUsageController/>
        </div>
    </div>
</div>

<h2>Customization</h2>
<h3>Spinners</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <CustomizationSpinners/>
        </div>
    </div>
</div>

<h3>Theming</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <CustomizationTheming/>
        </div>
    </div>
</div>