@page "/samples/popover"

<h2>Triggers</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <Triggers/>
        </div>
    </div>
</div>

<h3>isOpen Property</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IsOpenProperty/>
        </div>
    </div>
</div>

@*<h2>Controller Popovers</h2>
<h3>Usage</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <ControllerUsage/>
        </div>
    </div>
</div>*@

<h2>Styling</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <Styling/>
        </div>
    </div>
</div>

<h2>Positioning</h2>
<h3>Side and Alignment Demo</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <PositioningSideAndAlignment/>
        </div>
    </div>
</div>

<h2>Sizing</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <Sizing/>
        </div>
    </div>
</div>

<h2>NestedPopovers</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <NestedPopovers/>
        </div>
    </div>
</div>