:root {
  /* Material Design 3 color schemes */
  --md-sys-source: #012853;
  
  --md-sys-primary: light-dark(#265ea7, #a8c8ff);
  --md-sys-primary-rgb: light-dark(rgb(38, 94, 167), rgb(168, 200, 255));
  --md-sys-on-primary: light-dark(#ffffff, #003062);
  --md-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(0, 48, 98));
  --md-sys-primary-container: light-dark(#d6e3ff, #00468a);
  --md-sys-primary-container-rgb: light-dark(rgb(214, 227, 255), rgb(0, 70, 138));
  --md-sys-on-primary-container: light-dark(#001b3d, #d6e3ff);
  --md-sys-on-primary-container-rgb: light-dark(rgb(0, 27, 61), rgb(214, 227, 255));
  --md-sys-secondary: light-dark(#555f71, #bdc7dc);
  --md-sys-secondary-rgb: light-dark(rgb(85, 95, 113), rgb(189, 199, 220));
  --md-sys-on-secondary: light-dark(#ffffff, #273141);
  --md-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(39, 49, 65));
  --md-sys-secondary-container: light-dark(#d9e3f8, #3e4758);
  --md-sys-secondary-container-rgb: light-dark(rgb(217, 227, 248), rgb(62, 71, 88));
  --md-sys-on-secondary-container: light-dark(#121c2b, #d9e3f8);
  --md-sys-on-secondary-container-rgb: light-dark(rgb(18, 28, 43), rgb(217, 227, 248));
  --md-sys-tertiary: light-dark(#6f5675, #dcbce1);
  --md-sys-tertiary-rgb: light-dark(rgb(111, 86, 117), rgb(220, 188, 225));
  --md-sys-on-tertiary: light-dark(#ffffff, #3e2845);
  --md-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(62, 40, 69));
  --md-sys-tertiary-container: light-dark(#f9d8fe, #563e5c);
  --md-sys-tertiary-container-rgb: light-dark(rgb(249, 216, 254), rgb(86, 62, 92));
  --md-sys-on-tertiary-container: light-dark(#28132f, #f9d8fe);
  --md-sys-on-tertiary-container-rgb: light-dark(rgb(40, 19, 47), rgb(249, 216, 254));
  --md-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --md-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --md-sys-on-error: light-dark(#ffffff, #690005);
  --md-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --md-sys-error-container: light-dark(#ffdad6, #93000a);
  --md-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --md-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --md-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --md-sys-background: light-dark(#fdfbff, #1a1c1e);
  --md-sys-background-rgb: light-dark(rgb(253, 251, 255), rgb(26, 28, 30));
  --md-sys-on-background: light-dark(#1a1c1e, #e3e2e6);
  --md-sys-on-background-rgb: light-dark(rgb(26, 28, 30), rgb(227, 226, 230));
  --md-sys-surface: light-dark(#fdfbff, #1a1c1e);
  --md-sys-surface-rgb: light-dark(rgb(253, 251, 255), rgb(26, 28, 30));
  --md-sys-on-surface: light-dark(#1a1c1e, #e3e2e6);
  --md-sys-on-surface-rgb: light-dark(rgb(26, 28, 30), rgb(227, 226, 230));
  --md-sys-surface-variant: light-dark(#e0e2ec, #43474e);
  --md-sys-surface-variant-rgb: light-dark(rgb(224, 226, 236), rgb(67, 71, 78));
  --md-sys-on-surface-variant: light-dark(#43474e, #c4c6cf);
  --md-sys-on-surface-variant-rgb: light-dark(rgb(67, 71, 78), rgb(196, 198, 207));
  --md-sys-outline: light-dark(#74777f, #8e9099);
  --md-sys-outline-rgb: light-dark(rgb(116, 119, 127), rgb(142, 144, 153));
  --md-sys-outline-variant: light-dark(#c4c6cf, #43474e);
  --md-sys-outline-variant-rgb: light-dark(rgb(196, 198, 207), rgb(67, 71, 78));
  --md-sys-shadow: light-dark(#000000, #000000);
  --md-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-scrim: light-dark(#000000, #000000);
  --md-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-inverse-surface: light-dark(#2f3033, #e3e2e6);
  --md-sys-inverse-surface-rgb: light-dark(rgb(47, 48, 51), rgb(227, 226, 230));
  --md-sys-inverse-on-surface: light-dark(#f1f0f4, #2f3033);
  --md-sys-inverse-on-surface-rgb: light-dark(rgb(241, 240, 244), rgb(47, 48, 51));
  --md-sys-inverse-primary: light-dark(#a8c8ff, #265ea7);
  --md-sys-inverse-primary-rgb: light-dark(rgb(168, 200, 255), rgb(38, 94, 167));
  --md-sys-surface-container-lowest: light-dark(#ffffff, #0d0e11);
  --md-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(13, 14, 17));
  --md-sys-surface-container-low: light-dark(#f4f3f7, #1a1c1e);
  --md-sys-surface-container-low-rgb: light-dark(rgb(244, 243, 247), rgb(26, 28, 30));
  --md-sys-surface-container: light-dark(#eeedf1, #1e2023);
  --md-sys-surface-container-rgb: light-dark(rgb(238, 237, 241), rgb(30, 32, 35));
  --md-sys-surface-container-high: light-dark(#e9e7eb, #292a2d);
  --md-sys-surface-container-high-rgb: light-dark(rgb(233, 231, 235), rgb(41, 42, 45));
  --md-sys-surface-container-highest: light-dark(#e3e2e6, #343538);
  --md-sys-surface-container-highest-rgb: light-dark(rgb(227, 226, 230), rgb(52, 53, 56));
  
  /* Custom color "success" */
  --md-custom-success-color: light-dark(#006d3d, #00e385);
  --md-custom-success-color-rgb: light-dark(rgb(0, 109, 61), rgb(0, 227, 133));
  --md-custom-success-on-color: light-dark(#ffffff, #00391d);
  --md-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 29));
  --md-custom-success-color-container: light-dark(#5affa2, #00522c);
  --md-custom-success-color-container-rgb: light-dark(rgb(90, 255, 162), rgb(0, 82, 44));
  --md-custom-success-on-color-container: light-dark(#00210f, #5affa2);
  --md-custom-success-on-color-container-rgb: light-dark(rgb(0, 33, 15), rgb(90, 255, 162));
  
  /* Custom color "warning" */
  --md-custom-warning-color: light-dark(#4d6706, #b2d26b);
  --md-custom-warning-color-rgb: light-dark(rgb(77, 103, 6), rgb(178, 210, 107));
  --md-custom-warning-on-color: light-dark(#ffffff, #263500);
  --md-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(38, 53, 0));
  --md-custom-warning-color-container: light-dark(#ceef84, #394e00);
  --md-custom-warning-color-container-rgb: light-dark(rgb(206, 239, 132), rgb(57, 78, 0));
  --md-custom-warning-on-color-container: light-dark(#151f00, #ceef84);
  --md-custom-warning-on-color-container-rgb: light-dark(rgb(21, 31, 0), rgb(206, 239, 132));
  
  /* Palette tone references */
  
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary99: #fdfbff;
  --md-ref-palette-primary95: #ecf0ff;
  --md-ref-palette-primary90: #d6e3ff;
  --md-ref-palette-primary85: #bfd5ff;
  --md-ref-palette-primary80: #a8c8ff;
  --md-ref-palette-primary75: #91baff;
  --md-ref-palette-primary70: #7cacfa;
  --md-ref-palette-primary65: #6e9feb;
  --md-ref-palette-primary60: #6091dd;
  --md-ref-palette-primary55: #5284cf;
  --md-ref-palette-primary50: #4478c1;
  --md-ref-palette-primary45: #366bb4;
  --md-ref-palette-primary40: #265ea7;
  --md-ref-palette-primary35: #13529a;
  --md-ref-palette-primary30: #00468a;
  --md-ref-palette-primary25: #003b76;
  --md-ref-palette-primary20: #003062;
  --md-ref-palette-primary15: #00254f;
  --md-ref-palette-primary10: #001b3d;
  --md-ref-palette-primary5: #001129;
  --md-ref-palette-primary0: #000000;
  
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary99: #fdfbff;
  --md-ref-palette-secondary95: #ecf0ff;
  --md-ref-palette-secondary90: #d9e3f8;
  --md-ref-palette-secondary85: #cbd5ea;
  --md-ref-palette-secondary80: #bdc7dc;
  --md-ref-palette-secondary75: #afb9ce;
  --md-ref-palette-secondary70: #a2abc0;
  --md-ref-palette-secondary65: #959eb2;
  --md-ref-palette-secondary60: #8791a5;
  --md-ref-palette-secondary55: #7b8497;
  --md-ref-palette-secondary50: #6e778a;
  --md-ref-palette-secondary45: #616b7e;
  --md-ref-palette-secondary40: #555f71;
  --md-ref-palette-secondary35: #495365;
  --md-ref-palette-secondary30: #3e4758;
  --md-ref-palette-secondary25: #323c4d;
  --md-ref-palette-secondary20: #273141;
  --md-ref-palette-secondary15: #1d2636;
  --md-ref-palette-secondary10: #121c2b;
  --md-ref-palette-secondary5: #071120;
  --md-ref-palette-secondary0: #000000;
  
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary95: #ffebff;
  --md-ref-palette-tertiary90: #f9d8fe;
  --md-ref-palette-tertiary85: #eacaef;
  --md-ref-palette-tertiary80: #dcbce1;
  --md-ref-palette-tertiary75: #cdafd3;
  --md-ref-palette-tertiary70: #bfa1c5;
  --md-ref-palette-tertiary65: #b194b7;
  --md-ref-palette-tertiary60: #a487a9;
  --md-ref-palette-tertiary55: #967a9c;
  --md-ref-palette-tertiary50: #896e8f;
  --md-ref-palette-tertiary45: #7c6282;
  --md-ref-palette-tertiary40: #6f5675;
  --md-ref-palette-tertiary35: #624a69;
  --md-ref-palette-tertiary30: #563e5c;
  --md-ref-palette-tertiary25: #4a3351;
  --md-ref-palette-tertiary20: #3e2845;
  --md-ref-palette-tertiary15: #331e3a;
  --md-ref-palette-tertiary10: #28132f;
  --md-ref-palette-tertiary5: #1c0823;
  --md-ref-palette-tertiary0: #000000;
  
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral99: #fdfbff;
  --md-ref-palette-neutral95: #f1f0f4;
  --md-ref-palette-neutral90: #e3e2e6;
  --md-ref-palette-neutral85: #d5d4d8;
  --md-ref-palette-neutral80: #c7c6ca;
  --md-ref-palette-neutral75: #b9b8bc;
  --md-ref-palette-neutral70: #ababaf;
  --md-ref-palette-neutral65: #9e9da1;
  --md-ref-palette-neutral60: #909094;
  --md-ref-palette-neutral55: #838387;
  --md-ref-palette-neutral50: #77777a;
  --md-ref-palette-neutral45: #6a6a6e;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral30: #46474a;
  --md-ref-palette-neutral25: #3a3b3f;
  --md-ref-palette-neutral20: #2f3033;
  --md-ref-palette-neutral15: #252629;
  --md-ref-palette-neutral10: #1a1c1e;
  --md-ref-palette-neutral5: #101114;
  --md-ref-palette-neutral0: #000000;
  
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant99: #fdfbff;
  --md-ref-palette-neutral-variant95: #eef0fa;
  --md-ref-palette-neutral-variant90: #e0e2ec;
  --md-ref-palette-neutral-variant85: #d2d4dd;
  --md-ref-palette-neutral-variant80: #c4c6cf;
  --md-ref-palette-neutral-variant75: #b6b8c2;
  --md-ref-palette-neutral-variant70: #a8abb4;
  --md-ref-palette-neutral-variant65: #9b9ea6;
  --md-ref-palette-neutral-variant60: #8e9099;
  --md-ref-palette-neutral-variant55: #81848c;
  --md-ref-palette-neutral-variant50: #74777f;
  --md-ref-palette-neutral-variant45: #676a73;
  --md-ref-palette-neutral-variant40: #5b5e66;
  --md-ref-palette-neutral-variant35: #4f525a;
  --md-ref-palette-neutral-variant30: #43474e;
  --md-ref-palette-neutral-variant25: #383b43;
  --md-ref-palette-neutral-variant20: #2d3038;
  --md-ref-palette-neutral-variant15: #22262d;
  --md-ref-palette-neutral-variant10: #181c22;
  --md-ref-palette-neutral-variant5: #0e1117;
  --md-ref-palette-neutral-variant0: #000000;
  
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error85: #ffc7c0;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error75: #ff9f94;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error65: #ff7164;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error55: #f0443b;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error45: #cc2925;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error0: #000000;
}
