@page "/samples/segment-content"

<PlaygroundContainer FillWidth="true">
    <Header>
        <h2>Usage</h2>
        <p>Each <code>ion-segment-content</code> needs a unique <code>id</code> attribute. This will be used to link the segment content to a segment button via the button's
            <a href="https://ionicframework.com/docs/api/segment-button#properties">contentId property</a>.</p>
    </Header>
    <ChildContent>
        <Usage/>
    </ChildContent>
</PlaygroundContainer>