<div>
    <style>
        ion-alert.custom-alert {
            --backdrop-opacity: 0.7;
        }
        
        .custom-alert .alert-button-group {
            padding: 8px;
        }
        
        .custom-alert div.alert-wrapper {
            background-color: #292929;
        }
        
        .custom-alert h2.alert-title {
            background: linear-gradient(128.87deg,#53ceda 14.05%,#9780e5 89.3%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .custom-alert button.alert-button {
            color: #9780e5;
        }
        
        .custom-alert button.alert-button.alert-button-confirm {
            background-color: #ac99ea;
            color: #242424;
        }
        
        .md button.alert-button.alert-button-confirm {
            border-radius: 4px;
        }
        
        .ios .custom-alert button.alert-button {
            border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
        }
        
        .ios button.alert-button.alert-button-cancel {
            border-right: 0;
            border-bottom-left-radius: 13px;
            border-top-left-radius: 13px;
        }
        
        .ios button.alert-button.alert-button-confirm {
            border-bottom-right-radius: 13px;
            border-top-right-radius: 13px;
        }
    </style>
    
    <IonButton id="present-alert-customization-example">Click Me</IonButton>
    <IonAlert Trigger="present-alert-customization-example" 
              Header="Are you sure?"
              CssClass="custom-alert"
              Buttons="@(() => 
                       { 
                           return new[] 
                           {
                               new AlertButton { Text = "No", CssClass = "alert-button-cancel"  },
                               new AlertButton { Text = "Yes", CssClass = "alert-button-confirm" },
                           };
                       })"
    />

</div>

@code {
    
}