@using System.Collections
<IonButton id="present-alert-text-inputs-example">Click Me</IonButton>
<IonAlert Trigger="present-alert-text-inputs-example" 
          Header="Please enter your info"
          IonAlertDidDismiss="IonAlertDidDismiss"
          Buttons="@(() => 
                   { 
                       return new[] 
                       {
                           new AlertButton { Text = "OK", Role = "confirm" },
                       };
                   })"
          Inputs="@(() => 
                  {
                      return new[] 
                      {
                          new AlertInput
                          {
                              Placeholder = "Name",
                              Name = "name"
                          },
                          new AlertInput
                          {
                              Placeholder = "Nickname (max 8 characters)", 
                              Attributes = new Dictionary<string, object>() { { "maxlength", 8 } },
                              Name = "nickname"
                          },
                          new AlertInputNumber
                          {
                              Placeholder = "Age", 
                              Min = "1", 
                              Max = "100",
                              Name = "age"
                          },
                          new AlertInputTextArea
                          {
                              Placeholder = "A little about yourself",
                              Name = "info"
                          },
                      };
                  })"
          />

<p>@((MarkupString)_output)</p>

@code{
    private string _output = null!;

    private void IonAlertDidDismiss(IonAlertDismissEventArgs args)
    {
        var values = string.Join("<br/>", (args.Values as AlertValuesDictionary)?.Values?.Select(s => $"<b>{s.Key}</b>&nbsp;:&nbsp;{s.Value}") ?? Enumerable.Empty<string>());
        _output = $$"""Dismissed with role: <b>{{args.Role}}</b><p>{{values}}</p>""";
    }

}