<style>
    ion-backdrop.ib-basic-usage {
        background: var(--ion-color-dark);
        opacity: 0.3;
    }
</style>

<IonBackdrop class="ib-basic-usage" Visible="@true"></IonBackdrop>
<div class="ion-page">
    <IonHeader>
        <IonToolbar>
            <IonTitle>Backdrop</IonTitle>
        </IonToolbar>
    </IonHeader>
    <IonContent class="ion-padding">
        <IonItem>
            <IonCheckbox>Checkbox</IonCheckbox>
        </IonItem>
        <IonButton expand="block">Button</IonButton>
    </IonContent>
</div>