<IonHeader>
  <IonToolbar>
    <IonTitle> Header </IonTitle>
  </IonToolbar>
</IonHeader>
<IonContent Fullscreen="@true" class="ion-padding">
  <h1>Scroll the content and notice that the text goes behind the header and footer.</h1>

  <__content/>

</IonContent>
<IonFooter>
  <IonToolbar>
    <IonTitle> Footer </IonTitle>
  </IonToolbar>
</IonFooter>