<IonContent @ref="_contentRef" class="ion-padding">
    <h1>Click on the buttons to scroll the content.</h1>

    <IonButton Expand="@IonButtonExpand.Block" @onclick="@ScrollToBottom">Scroll to Bottom</IonButton>

    <__content/>

    <IonButton Expand="@IonButtonExpand.Block" @onclick="@ScrollToTop">Scroll to Top</IonButton>
</IonContent>

@code
{
    IonContent _contentRef = null!;

    private async Task ScrollToBottom()
    {
        // Passing a duration to the method makes it so the scroll slowly
        // goes to the bottom instead of instantly
        await _contentRef.ScrollToBottomAsync(500);
    }

    private async Task ScrollToTop()
    {
        // Passing a duration to the method makes it so the scroll slowly
        // goes to the top instead of instantly
        await _contentRef.ScrollToTopAsync(500);
    }
}