<IonContent @ref="_contentRef" class="ion-padding">
    <h1>Click on the buttons to scroll the content.</h1>

    <IonButton Expand="@IonButtonExpand.Block" @onclick="@ScrollDown">Scroll to X:0; Y:400</IonButton>

    <__content/>

    <IonButton Expand="@IonButtonExpand.Block" @onclick="@ScrollUp">Scroll to X:0; Y:100</IonButton>
</IonContent>

@code
{
    IonContent _contentRef = null!;

    private async Task ScrollDown()
    {
        await _contentRef.ScrollToPointAsync(1, 400, 500);
    }

    private async Task ScrollUp()
    {
        await _contentRef.ScrollToPointAsync(0, 100, 500);
    }
}