<div class="css-shadow-parts">
    <IonFab>
        <IonFabButton>
            <IonIcon name="add"></IonIcon>
        </IonFabButton>
        <IonFabList side="end">
            <IonFabButton>
                <IonIcon Name="document"></IonIcon>
            </IonFabButton>
            <IonFabButton>
                <IonIcon Name="color-palette"></IonIcon>
            </IonFabButton>
            <IonFabButton>
                <IonIcon Name="globe"></IonIcon>
            </IonFabButton>
        </IonFabList>
    </IonFab>
</div>