@page "/icon"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonIcon Name="logo-ionic"></IonIcon>
                    <IonIcon Name="logo-ionic" Size="IconSize.Large"></IonIcon>
                    <IonIcon Name="logo-ionic" Color="@IconColor.Primary"></IonIcon>
                    <IonIcon Name="logo-ionic" Size="IconSize.Large" color="@IconColor.Primary"></IonIcon>
                </div>
            </div>
        </div>
        

    </IonContent>
</div>

