<IonHeader>
    <IonToolbar>
        <IonTitle>App</IonTitle>
    </IonToolbar>
</IonHeader>
<IonContent class="ion-padding">
    <IonButton id="open-modal-sheet" Expand="block">Open Sheet Modal</IonButton>

    <IonModal @ref="_modal" id="my-target-modal" Trigger="open-modal-sheet" Handle="@true" Breakpoints="@(new []{0d, 0.25d, 0.5d, 0.75d})" InitialBreakpoint="@(0.25d)"  >
        <IonContent>
            <IonSearchbar @ref="_searchbar" @onclick="@(async () => await _modal.SetCurrentBreakpointAsync(0.75))" Placeholder="Search" ></IonSearchbar>
            <IonList>
                <IonItem>
                    <IonAvatar slot="start">
                        <IonImg Src="https://i.pravatar.cc/300?u=b" />
                    </IonAvatar>
                    <IonLabel>
                        <h2>Connor Smith</h2>
                        <p>Sales Rep</p>
                    </IonLabel>
                </IonItem>
                <IonItem>
                    <IonAvatar slot="start">
                        <IonImg Src="https://i.pravatar.cc/300?u=a" />
                    </IonAvatar>
                    <IonLabel>
                        <h2>Daniel Smith</h2>
                        <p>Product Designer</p>
                    </IonLabel>
                </IonItem>
                <IonItem>
                    <IonAvatar slot="start">
                        <IonImg Src="https://i.pravatar.cc/300?u=d" />
                    </IonAvatar>
                    <IonLabel>
                        <h2>Greg Smith</h2>
                        <p>Director of Operations</p>
                    </IonLabel>
                </IonItem>
                <IonItem>
                    <IonAvatar slot="start">
                        <IonImg Src="https://i.pravatar.cc/300?u=e" />
                    </IonAvatar>
                    <IonLabel>
                        <h2>Zoey Smith</h2>
                        <p>CEO</p>
                    </IonLabel>
                </IonItem>
            </IonList>
        </IonContent>
    </IonModal>
</IonContent>

@code {
  
    IonModal _modal = null!;
    IonSearchbar _searchbar = null!;
  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        
        if (!firstRender)
            return;
        
        //await _modal.SetInitialBreakpointAsync(0.25);
        //await _modal.SetBreakpointsAsync(0, 0.25, 0.5, 0.75);
    }
}