<IonAccordionGroup>
    <IonAccordion Value="first" ToggleIcon="caret-down-circle" ToggleIconSlot="start">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>First Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">First Content</div>
    </IonAccordion>
    <IonAccordion Value="second" ToggleIcon="caret-down-circle" ToggleIconSlot="start">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>Second Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">Second Content</div>
    </IonAccordion>
    <IonAccordion Value="third" ToggleIcon="caret-down-circle" ToggleIconSlot="start">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>Third Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">Third Content</div>
    </IonAccordion>
</IonAccordionGroup>