<IonAccordionGroup @ref="_toggleAccordionGroup">
    <IonAccordion Value="first">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>First Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">First Content</div>
    </IonAccordion>
    <IonAccordion Value="second">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>Second Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">Second Content</div>
    </IonAccordion>
    <IonAccordion Value="third">
        <IonItem slot="header" Color="@IonColor.Light">
            <IonLabel>Third Accordion</IonLabel>
        </IonItem>
        <div class="ion-padding" slot="content">Third Content</div>
    </IonAccordion>
</IonAccordionGroup>

<IonButton @onclick="@ToggleAccordionAsync">Toggle Second Accordion</IonButton>

@code {

    private IonAccordionGroup _toggleAccordionGroup = null!;

    private async Task ToggleAccordionAsync()
    {
        var value = await _toggleAccordionGroup.Value;
        await _toggleAccordionGroup.SetValueAsync(value.Contains("second") ? null : [ "second" ]);
    }
}