@namespace IonicTest.Pages.Samples.PickerLegacy

@page "/samples/picker-legacy"

<h2>Inline Pickers (Recommended)</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IonicTest.Pages.Samples.PickerLegacy.InlinePickers/>
        </div>
    </div>
</div>

<h2>Using <code>isOpen</code></h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IonicTest.Pages.Samples.PickerLegacy.UsingIsOpen/>
        </div>
    </div>
</div>

<h2>Multiple Columns</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IonicTest.Pages.Samples.PickerLegacy.MultipleColumns/>
        </div>
    </div>
</div>