@page "/samples/item-group"

<PlaygroundContainer FillWidth="true" >
    <Header>
        <h2>Basic Usage</h2>
    </Header>
    <ChildContent>
        <IonicTest.Pages.Samples.ItemGroup.BasicUsage/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer FillWidth="true" >
    <Header>
        <h2>Sliding Items</h2>
    </Header>
    <ChildContent>
        <SlidingItems/>
    </ChildContent>
</PlaygroundContainer>