@page "/samples/item-group"

<h2>Basic Usage</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <IonicTest.Pages.Samples.ItemGroup.BasicUsage/>
        </div>
    </div>
</div>

<h2>Sliding Items</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <SlidingItems/>
        </div>
    </div>
</div>

@*<h2>Item Labels</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ItemLabels/>
        </div>
    </div>
</div>

<h2>Input Labels</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <InputLabels/>
        </div>
    </div>
</div>

<h2>Theming</h2>
<h3>Colors</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ThemingColors/>
        </div>
    </div>
</div>*@