@page "/samples/input"

<PlaygroundContainer>
  <Header>
    <h2>Basic Usage</h2>
  </Header>
  <ChildContent>
    <BasicUsage/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
  <Header>
    <h2>Types</h2>
  </Header>
  <ChildContent>
    <Types/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
  <Header>
    <h2>Labels</h2>
    <h3>Label Placement</h3>
  </Header>
  <ChildContent>
    <LabelsPlacement/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
  <Header>
    <h3>Label Slot (experimental)</h3>
  </Header>
  <ChildContent>
    <LabelSlot/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
  <Header>
    <h3>No Visible Label</h3>
  </Header>
  <ChildContent>
    <NoVisibleLabel/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
  <Header>
    <h2>Clear Options</h2>
  </Header>
  <ChildContent>
    <ClearOptions/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
  <Header>
    <h2>Filled Inputs</h2>
  </Header>
  <ChildContent>
    <FilledInputs/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
  <Header>
    <h2>Helper & Error Text</h2>
  </Header>
  <ChildContent>
    <HelperAndErrorText/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
  <Header>
    <h2>Input Counter</h2>
  </Header>
  <ChildContent>
    <InputCounter/>
  </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Filtering User Input</h2>
    </Header>
    <ChildContent>
        <FilteringUserInput/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Input Masking</h2>
    </Header>
    <ChildContent>
        <InputMasking/>
    </ChildContent>
</PlaygroundContainer>
