@page "/samples/list"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <BasicUsage/>
                </div>
            </div>
        </div>
        
        <h3>IonListOf&lt;T&gt;</h3>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <ListOf/>
                </div>
            </div>
        </div>
        
        <h2>Inset List</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <InsetList/>
                </div>
            </div>
        </div>
        
        <h2>List Lines</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <ListLines/>
                </div>
            </div>
        </div>
    </IonContent>
</div>