@page "/samples/toast"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Inline Toasts (Recommended)</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <InlineToasts/>
                </div>
            </div>
        </div>
        
        <h2>Using <code>isOpen</code></h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <UsingIsOpen/>
                </div>
            </div>
        </div>
        
        <h2>Dismissing</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <Dismissing/>
                </div>
            </div>
        </div>
        
        <h2>Positioning</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    
                </div>
            </div>
        </div>
        
        <h2>Layout</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <Layout/>
                </div>
            </div>
        </div>
        
        <h2>Icons</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <Icons/>
                </div>
            </div>
        </div>
        
        <h2>Theming</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <Theming/>
                </div>
            </div>
        </div>

    </IonContent>
</div>