.playground__console {
    --playground-console-item-separator-color: var(--playground-separator-color);
    --code-block-bg-c: #f6f8fc;
    --ifm-code-border-radius: 0.4rem;

    background-color:var(--code-block-bg-c);
    border:1px solid var(--playground-separator-color);
    border-bottom-left-radius:var(--ifm-code-border-radius);
    border-bottom-right-radius:var(--ifm-code-border-radius);
    border-top:0
}

:root.ion-palette-dark .playground__console {
    --code-block-bg-c: #13171c;
}

.playground__console-item--error,
.playground__console-item--warning,
.playground__console-item:last-child {
    border-bottom:1px solid var(--separator-color)
}
.playground__console-header {
    background-color:var(--playground-separator-color);
    font-weight:700;
    text-transform:uppercase
}
.playground__console-body {
    height:120px;
    overflow-y:auto
}
.playground__console-item {
    border-top:1px solid var(--separator-color);
    position:relative
}
.playground__console-header,
.playground__console-item {
    padding:3px 3px 3px 28px
}
.playground__console-item--placeholder {
    font-style:italic
}
.playground__console-item--log {
    --separator-color:var(--playground-console-item-separator-color)
}
.playground__console-item--warning {
    --separator-color:var(--playground-console-warning-separator-color);
    background-color:var(--playground-console-warning-background);
    color:var(--playground-console-warning-color)
}
.playground__console-item--error {
    --separator-color:var(--playground-console-error-separator-color);
    background-color:var(--playground-console-error-background);
    color:var(--playground-console-error-color)
}
.playground__console-icon {
    left:3px;
    position:absolute;
    top:3px
}
.playground__console code {
    background-color:initial;
    font-size:.813rem;
    padding:0;
    padding-block-end:0;
    padding-block-start:0
}