@page "/samples/grid"

<h2>Basic Usage</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <BasicUsage/>
        </div>
    </div>
</div>

<h2>Fixed Grid</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <FixedGrid/>
        </div>
    </div>
</div>

<h2>Column Size</h2>
<h3>Content-based size</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ContentBasedSize/>
        </div>
    </div>
</div>

<h3>Specified size</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <SpecifiedSize/>
        </div>
    </div>
</div>

<h3>Responsive size</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ResponsiveSize/>
        </div>
    </div>
</div>

<h2>Column Offset</h2>
<h3>Specified offset</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <SpecifiedOffset/>
        </div>
    </div>
</div>

<h3>Responsive offset</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ResponsiveOffset/>
        </div>
    </div>
</div>

<h2>Column Push & Pull</h2>
<h3>Specified push & pull</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <SpecifiedPushAndPull/>
        </div>
    </div>
</div>

<h3>Responsive push & pull</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <ResponsivePushAndPull/>
        </div>
    </div>
</div>

<h2>Alignment</h2>
<h3>Vertical Alignment</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <VerticalAlignment/>
        </div>
    </div>
</div>

<h3>Horizontal Alignment</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <HorizontalAlignment/>
        </div>
    </div>
</div>

<h2>Customizing the Grid</h2>
<h3>Fixed Width</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <FixedWidth/>
        </div>
    </div>
</div>

<h3>Number of Columns</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <NumberOfColumns/>
        </div>
    </div>
</div>

<h3>Padding</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="container">
            <Padding/>
        </div>
    </div>
</div>