<div>
    <b>Columns aligned at the start</b>
    <IonGrid>
        <IonRow Class="ion-justify-content-start">
            <IonCol Size="3"> 1 </IonCol>
            <IonCol Size="3"> 2 </IonCol>
        </IonRow>
    </IonGrid>

    <b>Columns aligned at the center</b>
    <IonGrid>
        <IonRow Class="ion-justify-content-center">
            <IonCol Size="3"> 1 </IonCol>
            <IonCol Size="3"> 2 </IonCol>
        </IonRow>
    </IonGrid>

    <b>Columns aligned at the end</b>
    <IonGrid>
        <IonRow Class="ion-justify-content-end">
            <IonCol Size="3"> 1 </IonCol>
            <IonCol Size="3"> 2 </IonCol>
        </IonRow>
    </IonGrid>

    <b>Columns aligned with space around</b>
    <IonGrid>
        <IonRow Class="ion-justify-content-around">
            <IonCol Size="3"> 1 </IonCol>
            <IonCol Size="3"> 2 </IonCol>
        </IonRow>
    </IonGrid>

    <b>Columns aligned with space between</b>
    <IonGrid>
        <IonRow Class="ion-justify-content-between">
            <IonCol Size="3"> 1 </IonCol>
            <IonCol Size="3"> 2 </IonCol>
        </IonRow>
    </IonGrid>
</div>