@page "/samples/alert"

<h2>Inline Alerts (Recommended)</h2>
<h3>Using Trigger</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IonButton id="present-alert">Click Me</IonButton>
            <IonAlert
                Trigger="present-alert"
                Header="A Short Title Is Best"
                SubHeader="A Sub Header Is Optional"
                Message="A message should be a short, complete sentence."
                Buttons="@(() => new [] {
                             new AlertButton() { Text = "Action" },
                         })"
            />
        </div>
    </div>
</div>

<h3>Using Method</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IonButton @onclick="@(async () => { await _alertByMethodRef.PresentAsync(); })" >Click Me</IonButton>
            <IonAlert @ref="_alertByMethodRef"
                      Header="A Short Title Is Best"
                      SubHeader="A Sub Header Is Optional"
                      Message="A message should be a short, complete sentence."
                      Buttons="@(() => new [] {
                                   new AlertButton() { Text = "Action" },
                               })"
            ></IonAlert>
        </div>
    </div>
</div>

<h2>Using isOpen</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <UsingIsOpen/>
        </div>
    </div>
</div>

<h2>Controller Alerts</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <IonButton @onclick="@(async () =>
                                 {
                                     await IonAlertController.PresentAsync(
                                         header: "A Short Title Is Best",
                                         subHeader: "A Sub Header Is Optional",
                                         message: "A message should be a short, complete sentence.");
                                 })">Click Me</IonButton>
        </div>
    </div>
</div>

<h2>Buttons</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <Buttons/>
        </div>
    </div>
</div>

<h2>Inputs</h2>
<h3>Text Inputs Example</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <TextInputsExample/>
        </div>
    </div>
</div>

<h3>Radio Example</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <RadioExample/>
        </div>
    </div>
</div>

<h3>Checkbox Example</h3>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <CheckboxExample/>
        </div>
    </div>
</div>

<h2>Customization</h2>
<div class="playground__container">
    <div class="playground__preview">
        <div class="playground__frame">
            <CustomizationExample/>
        </div>
    </div>
</div>