<IonButton id="present-alert-buttons">Click Me</IonButton>
<IonAlert @ref="_alert" 
          Trigger="present-alert-buttons"
          Header="Alert!"
          Buttons="@(() => { return new[] 
                   {
                       new AlertButton { Text = "Cancel", Role = "cancel", Handler = CancelHandler },
                       new AlertButton { Text = "OK", Role = "confirm", Handler = ConfirmHandler }
                   }; })"
          IonAlertDidDismiss="IonAlertDidDismiss"/>
<p>@((MarkupString)_handlerOutput)</p>
<p>@((MarkupString)_roleOutput)</p>

@code {
    private IonAlert _alert = null!;
    private string _roleOutput = null!;
    private string _handlerOutput = null!;

    private void IonAlertDidDismiss(IonAlertDismissEventArgs args)
    {
        _roleOutput = $"Dismissed with role: <b>{args.Role}</b>";
    }

    private ValueTask CancelHandler(AlertButtonEventArgs args)
    {
        _handlerOutput = "Alert <b>canceled</b>";
        return ValueTask.CompletedTask;
    }

    private ValueTask ConfirmHandler(AlertButtonEventArgs args)
    {
        _handlerOutput = "Alert <b>confirmed</b>";
        return ValueTask.CompletedTask;
    }

}