@page "/image"

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="playground__frame">
                    <IonImg Src="https://docs-demo.ionic.io/assets/madison.jpg" Alt="The Wisconsin State Capitol building in Madison, WI at night"></IonImg>
                </div>
            </div>
        </div>
        

    </IonContent>
</div>