@page "/samples/select"

<PlaygroundContainer>
    <Header>
        <h2>Label Placement</h2>
    </Header>
    <ChildContent>
        <LabelPlacement/>
    </ChildContent>

</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Label Slot</h2>
    </Header>
    <ChildContent>
        <LabelSlot/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>No Visible Label</h2>
    </Header>
    <ChildContent>
        <NoVisibleLabel/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Single Selection</h2>
    </Header>
    <ChildContent>
        <SingleSelection/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Multiple Selection</h2>
    </Header>
    <ChildContent>
        <MultipleSelection/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Interfaces</h2>
        <h3>Alert</h3>
    </Header>
    <ChildContent>
        <InterfacesAlert/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h3>Action Sheet</h3>
    </Header>
    <ChildContent>
        <InterfacesActionSheet/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h3>Popover</h3>
    </Header>
    <ChildContent>
        <InterfacesPopover/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h3>Responding to Interaction</h3>
    </Header>
    <ChildContent>
        <RespondingToInteraction/>
    </ChildContent>
</PlaygroundContainer>

<PlaygroundContainer>
    <Header>
        <h2>Object Value References</h2>
        <h3>Using compareWith</h3>
    </Header>
    <ChildContent>
        @*<ObjectValueReferences/>*@
    </ChildContent>
</PlaygroundContainer>