<div>
    <b>Stacked for xs breakpoint, equal width for sm and up</b>
    <IonGrid>
        <IonRow>
            <IonCol Size="12" SizeSm="3">1</IonCol>
            <IonCol Size="12" SizeSm="3">2</IonCol>
            <IonCol Size="12" SizeSm="3">3</IonCol>
            <IonCol Size="12" SizeSm="3">4</IonCol>
        </IonRow>
    </IonGrid>

    <b>Equal width until md breakpoint, last column takes full width for md and up</b>
    <IonGrid>
        <IonRow>
            <IonCol SizeMd="6">1</IonCol>
            <IonCol SizeMd="6">2</IonCol>
            <IonCol SizeMd="12">3</IonCol>
        </IonRow>
    </IonGrid>

    <b>2 per row until md breakpoint, 3 per row for md, equal width for lg and up</b>
    <IonGrid>
        <IonRow>
            <IonCol Size="6" SizeMd="4" SizeLg="2">1</IonCol>
            <IonCol Size="6" SizeMd="4" SizeLg="2">2</IonCol>
            <IonCol Size="6" SizeMd="4" SizeLg="2">3</IonCol>
            <IonCol Size="6" SizeMd="4" SizeLg="2">4</IonCol>
            <IonCol Size="6" SizeMd="4" SizeLg="2">5</IonCol>
            <IonCol Size="6" SizeMd="4" SizeLg="2">6</IonCol>
        </IonRow>
    </IonGrid>
</div>