<div>
    <b>Column 2 has <code>size</code> set to <code>"8"</code></b>
    <IonGrid>
        <IonRow>
            <IonCol>1</IonCol>
            <IonCol Size="8">2</IonCol>
            <IonCol>3</IonCol>
        </IonRow>
    </IonGrid>

    <b>Columns 3 & 4 have <code>size</code> set to <code>"3"</code></b>
    <IonGrid>
        <IonRow>
            <IonCol>1</IonCol>
            <IonCol>2</IonCol>
            <IonCol Size="3">3</IonCol>
            <IonCol Size="3">4</IonCol>
            <IonCol>5</IonCol>
            <IonCol>6</IonCol>
        </IonRow>
    </IonGrid>

    <b>Columns 1 & 2 have <code>size</code> set to <code>"4"</code></b>
    <IonGrid>
        <IonRow>
            <IonCol Size="4">1</IonCol>
            <IonCol Size="4">2</IonCol>
        </IonRow>
    </IonGrid>
</div>