@page "/samples/split-pane"

@inherits Sample

<PlaygroundContainer>
    <Header>
        <h2>Basic Usage</h2>

    </Header>
    <ChildContent>
        <BasicUsage/>
    </ChildContent>
</PlaygroundContainer>