<IonSplitPane When="md" ContentId="main">
    <IonMenu ContentId="main">
        <IonHeader>
            <IonToolbar Color="tertiary">
                <IonTitle>Menu</IonTitle>
            </IonToolbar>
        </IonHeader>
        <IonContent class="ion-padding"> Menu Content </IonContent>
    </IonMenu>

    <div class="ion-page" id="main">
        <IonHeader>
            <IonToolbar>
                <IonTitle>Main View</IonTitle>
            </IonToolbar>
        </IonHeader>
        <IonContent class="ion-padding"> Main View Content </IonContent>
    </div>
</IonSplitPane>