@page "/samples/list-header"
@using System.Dynamic

<div class="ion-page" id="main-content">
    <IonContent Class="container">
        <h2>Basic Usage</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonList>
                        <IonListHeader>
                            <IonLabel>Video Games</IonLabel>
                        </IonListHeader>
                        <ion-item>
                            <IonLabel>Pokémon Yellow</IonLabel>
                        </ion-item>
                        <ion-item>
                            <IonLabel>Mega Man X</IonLabel>
                        </ion-item>
                        <ion-item>
                            <IonLabel>The Legend of Zelda</IonLabel>
                        </ion-item>
                        <ion-item>
                            <IonLabel>Pac-Man</IonLabel>
                        </ion-item>
                        <ion-item>
                            <IonLabel>Super Mario World</IonLabel>
                        </ion-item>
                    </IonList>
                </div>
            </div>
        </div>
        
        <h2>Buttons in List Headers</h2>
        <div class="playground__container">
            <div class="playground__preview">
                <div class="container">
                    <IonList>
                      <IonListHeader>
                        <IonLabel>Video Games</IonLabel>
                        <IonButton>See All</IonButton>
                      </IonListHeader>
                      <ion-item>
                        <IonLabel>Pokémon Yellow</IonLabel>
                      </ion-item>
                      <ion-item>
                        <IonLabel>Mega Man X</IonLabel>
                      </ion-item>
                      <ion-item>
                        <IonLabel>The Legend of Zelda</IonLabel>
                      </ion-item>
                      <ion-item>
                        <IonLabel>Pac-Man</IonLabel>
                      </ion-item>
                      <ion-item>
                        <IonLabel>Super Mario World</IonLabel>
                      </ion-item>
                    </IonList>
                </div>
            </div>
        </div>
        
        
    </IonContent>
</div>